/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
*/

* {
    box-sizing: border-box;
}


h1 {
    color:#363636;
    font-family: 'Roboto Slab', serif; 
    font-weight: 300;
}

p {
    color:#626262;
    font-family: 'Roboto', sans-serif;
    display: none;

}

a {
    color: #363636;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Roboto Slab', serif; 
    
}

.display-flex {
    display: flex;
}
  
a:hover {
    color: #25E6C8;
}

.border {
    border: 1px solid black;
}

body {
    font: weight 400px; ;
    font-size: 16px;
    line-height: 1,5;
    margin: 0;
    padding: 0;
    color :#626262;
}


.container {
    width: 100%; 
    padding: 0 1rem;
    margin: 0 auto; /* auto centrerar innehållet horisontellt*/
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

/* .box {

} */


.navbar-top .container {
    align-items:center ;
    padding-left: 2.5rem;
}

.navbar-top {
    border-bottom: 1px solid #70707067;
    padding:0.5rem; 
}

.navbar{
    padding: 0.5rem 1rem;
}

    .navbar .container, .navbar-top .container {
        display:flex;
        justify-content: space-between;
    }

.navbar-top .container .clock-hours i {
    color: #2BAAEC;
    font-size: 0.9rem;
}

.clock-hours  {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #626262;
}

.social-icons i {
  display: none;
}


.social-icons i:hover {
    cursor: pointer;
    color:  #25E6C8;
}


.navbar-brand img {
height: 4rem;
margin-top: 0.5rem;
}

.navbar-toggler {
    font-size: 2.5rem;
    color:#2BAAEC;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-collapse { 
   align-items: center;
   display: none;
   
}

/* SHOWCASE-CONTENT */

.showcase-content {
    padding-bottom: 2rem;
    text-align: center;
    justify-content: center;
        padding-top: 5rem;
}

#showcase .container {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background: url(img/placehold.svg);
    background-size: 22rem;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
    justify-content: center;

}

#showcase .container img {
    height: 480px;
    margin-top: 1rem;
    display: none;
}

.showcase-content h1 { 
    font-size: 3rem;
    line-height: 3.5rem;
}

.showcase-content p {
    font-size: 0.9rem;
}

/* ABOUT-US */

#about-us .container {
    display: flex;
    justify-content: center;
}

.about-us-box {
   margin: 2rem 0;
   width: 300px;
}

.about-statistics {
    display: flex;
    width: 100%;
}


.about-us-box > h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-top: 5px;
    border-bottom: 3px solid #25E6C8;
    text-align: center;
    
}

.about-us-box span {
color: #2BAAEC
}


.h1-blue {
    font-size: 2rem;
    color: #2BAAEC;
}

.about-statistics {
    display: flex;
    justify-content: space-between;
}

.about-stat {
    margin-top: 2rem;
    padding: 3.5 1.8rem;
}

.about-stat > h1 {
    margin-top: 30px;
    margin-bottom: 0.5rem;

}

.about-stat > p {
    font-size: 1.1rem;
   margin: 0;
    display: block;
}

.about-us-img {
    display: none;
}

/* SERVICES */

#services {
    background-color:#F7F7F7 ;
    padding-bottom: 6rem;
}


#services > .container {
   display: flex;
   justify-content: center;
}


 .rubrik > h1 {
     font-size: 1.8rem;
     width: 300px;
     padding-bottom: 10px;
     border-bottom: 3px solid #25E6C8;
     text-align: center;

    }   
    
        #services {
            background-color:#F7F7F7 ;
        }
        .container > .rubrik > h1 {
            margin-top: 6rem;
            margin-bottom: 2rem;
        }
    
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0 1.5rem;
            padding-top: 2rem;  
            grid-column-gap: 1rem;   
            grid-row-gap: 0.8rem; 
        
        }
        
        .box { 
            background-color: #ffffff;
            padding-top: 0.9rem;
            padding: 1.5rem;
            border-radius: 2%;
            text-align: center;
            
        }
    
        .box h1 {
            font-size: 1.2rem;
        }
    
        .box > a > img {
            height: 6rem;
            background-color: #25E6C8;
            border-radius: 50%;
            padding: 1.5rem;
        } 

        .box a img:hover {
            background-color: #2BAAEC;
            cursor: pointer;
        }

    /* APPOINTMENT */

    .appointment {
        background-color:#2ba8ece0;
        padding: 3rem;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.11);
    }

    .appointment-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
       
    }

    .appointment h1 {
        color: #ffffff;
    }

    .appointment button {
        padding: 1.1rem 4rem;
    }

    /* FOOTER */

    .footer {
        text-align: center;
        background-color: #2BAAEC;
    }

    .footer p {
        color: rgba(255, 255, 255, 0.644);
    }
    

/* BTN */

.bg-gray {

   background-color:#DEDEDE ; 
}

.bg-dark {
    
    background: #1d3557;
    color:#f1faee
}
.bg-white {
    background:#f1faee;
    color: #1d3557;
}

.btn {
display:inline-block;
font-weight: 400;
font-size: 1rem;
margin-top: 0.5rem;
text-align: center;
vertical-align: middle;
padding:0.75rem 2.5rem;  
border-radius: 0.5rem;
border: 1px solid transparent;
background-color: transparent;
}

.btn-greenish {
color: #fff;
background-color:#25E6C8;
font-weight: 700;
}
.btn-greenish:hover{
    cursor: pointer;
    background-color:  #2BAAEC;
}

.btn-white {
    color:#2BAAEC;
    background-color:#fff;
    font-weight: 700;
    }
.btn-white:hover {
    cursor: pointer;
    color:#fff;
    background-color:#25E6C8;
}


/* MEDIA QUERIES */


@media (min-width: 576px) {
    .container {
        max-width: 530px;
        width: 90%;
        display: flex;
    }

    p {
        color:#626262;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
    }
    .navbar-toggler {
        display: none;
    }

        .navbar-collapse {
       display: flex;
    }

    .nav-link {
        padding: 0.4rem;
    }

    .navbar-top .container {

        padding-left: 0;
    }
    .social-icons i {
        padding:0 0.5rem ;
        color: #2BAAEC ;
        font-size: 0.9rem; 
        padding: 0.5rem 0.5rem;
        display: inline;
      }

      /* ABOUT-US */


    .about-us-box {
    display: flex;
    flex-direction: column;
    width: auto;
    }

    #about-us .container {
    display: flex;
    justify-content: center;
    }

    .about-stat h1 {
    color: #2BAAEC 
    }


    #about-us .container {
    display: flex;
    justify-content: start;
    }



 




@media (min-width: 768px) {

    .showcase-content {
        padding-top: 0rem;
    }
    
    .container {
        max-width: 720px;
        width: 90%;
    }
    #showcase .container img {
    height: 480px;
    margin-top: 1rem;
    display: inline-block;
    
    }

    #showcase .container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        background:none;
    }

    .showcase-content-box {
        margin-right: 2rem;
    }

    .nav-link {
       padding: 0 1rem;
    }
    
    .navbar-collapse {
        display: flex;
     }


    #showcase .container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    /* ABOUT-US SECTION */
    
    #about-us .container {
        display: flex;
        justify-content: space-between;
    }
    
    .about-us-box {
       margin: 2rem 0;
       width: 800px;
    }
    
    .about-statistics {
        display: flex;
        justify-content: space-between;
    }
    
    .about-us-box > h1 {
        font-size: 2rem;
        width: 500px;
        margin-bottom: 10px;
    
    }
    
    .about-us-box span {
    color: #2BAAEC
    }

    /* APPOINTMENT */

    .appointment {
        width: 100%;
        justify-content: space-between;
    }

}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .about-statistics {
        width: 500px;
    }

    #about-us img {
        height: 540px; /*detta blev samma som 30rem*/
        /* height: 30rem; */
    margin-top: 4.1rem;
    padding-left: 5rem;
    display: inline-block;
    }

    .about-us-img {
        display: flex;
        width: 500px;
        justify-content: center;
        
    }

    .about-us-box h1 {
        text-align: left;
    }
        /* SERVICES */

        .container > .rubrik > h1 {
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
    
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding: 0 2rem;
            padding-top: 2rem;  
            grid-column-gap: 1rem;   
            grid-row-gap: 1rem; 
            max-width: 80%;
            margin: 0 auto;

        }

    /* APPOINTMENT */

        .appointment {
            padding-left: 0;
            padding-right: 0;
        }

        .appointment-container {
            flex-direction: row;
            margin: 0 10rem;
        }

        


    
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
   
}